extends layout

block breadcrumbs

  span.arrow ➝ 
  a(href="/#{owner}/#{repo}") #{owner} #{repo}
  
  each breadcrumb in breadcrumbs
    span.arrow ➝ 
    if !breadcrumb.last
      a(href="#{breadcrumb.url}")= breadcrumb.name
    else
      span= breadcrumb.name

block content

  #files.files
  
    each file, filename in files
      if file.type == "tree"
        a.file(href="/#{currentPath}/#{filename}")
          .icon.folder
          p= filename
      else if (file.thumbnail)
        //- a.thumbnail(style="background-size: contain; background-image: url('#{file.imagePath}')" href="#{file.githubURL}")
        a.file(href="#{file.githubURL}")
          .icon.thumbnail2
            img(src="#{file.imagePath}")
          p= filename
      else
        a.file(href="#{file.githubURL}")
          .icon.generic
          p= filename
          
block script

  script.

    function getPosition(el) {
      var xPos = 0
      var yPos = 0
     
      while (el) {
        if (el.tagName == "BODY") {
          // deal with browser quirks with body/window/document and page scroll
          var xScroll = el.scrollLeft || document.documentElement.scrollLeft
          var yScroll = el.scrollTop || document.documentElement.scrollTop
     
          xPos += (el.offsetLeft - xScroll + el.clientLeft)
          yPos += (el.offsetTop - yScroll + el.clientTop)
        } else {
          // for all other non-BODY elements
          xPos += el.offsetLeft - el.scrollLeft + el.clientLeft
          yPos += el.offsetTop - el.scrollTop + el.clientTop
        }
     
        el = el.offsetParent
      }
      return {
        x: xPos,
        y: yPos
      };
    }
    
    function flexboxGrid(){
      
      var spacers = document.getElementsByClassName('flexbox-grid-spacer')
      
      if (spacers.length > 0){
      
        var parent = spacers[0].parentNode
        
        while(spacers.length > 0){
          parent.removeChild(spacers[0])
        }
        
      }

      var files = document.querySelectorAll('.file')
      files = [].slice.call(files) // turns nodeList into array
      
      var rowTotals = []
      var currentRow = 0
      var currentTop = null
      
      while (currentRow < 2){
        
        var el = files.pop()
        var elTop = getPosition(el).y
        
        if (currentTop != null && currentTop != elTop){
          currentRow += 1
        }
        
        if (rowTotals[currentRow] == undefined){
          rowTotals[currentRow] = 1
        } else {
          rowTotals[currentRow] += 1
        }
        
        currentTop = elTop
        
      }
      
      //- console.log(rowTotals)
      
      var difference = rowTotals[1] - rowTotals[0]
    
      var docFrag = document.createDocumentFragment();
      
      for (var i = 0; i < difference; i++) {
        var spacer = document.createElement('div')
        spacer.classList.add('file','flexbox-grid-spacer')
        docFrag.appendChild(spacer)
      }

      document.getElementById('files').appendChild(docFrag)
      
    }
    
    flexboxGrid()
    
    window.addEventListener("resize", flexboxGrid)
