extends layout

block breadcrumbs

  span.arrow ➝ 
  a(href="/#{owner}/#{repo}") #{owner} #{repo}
  
  each breadcrumb in breadcrumbs
    span.arrow ➝ 
    if !breadcrumb.last
      a(href="#{breadcrumb.url}")= breadcrumb.name
    else
      span= breadcrumb.name

block content

  .files
  
    each file, filename in files
      if file.type == "tree"
        a.file(href="/#{currentPath}/#{filename}")
          .icon.folder
          p= filename
      else if (file.thumbnail)
        //- a.thumbnail(style="background-size: contain; background-image: url('#{file.imagePath}')" href="#{file.githubURL}")
        a.file(href="#{file.githubURL}")
          .icon.thumbnail2
            img(src="#{file.imagePath}")
          p= filename
      else
        a.file(href="#{file.githubURL}")
          .icon.generic
          p= filename
          
