extends layout

block content

  each file, filename in files
    .file
      if file.type == "tree"
        a.thumbnail(href="/browse/#{currentPath}/#{filename}")
        p
          a(href="/browse/#{currentPath}/#{filename}")= filename
      else if (file.type == "pdf" || file.type == "png")
        a.thumbnail(style="background-size: contain; background-image: url(#{file.imagePath})" href="#{file.githubURL}")
        p= filename
      else
        .thumbnail
        p= filename
        
